@import "../abstract/variaveis";

#services {
  padding-top: ($padding * 2);
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.0001) 0%,
    rgba(240, 235, 229, 0.504289) 100%
  );
  .services-top-line,
  .services-bottom-line {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
  }

  .services-top-line {
    margin-top: 27rem;
  }

  .services-bottom-line {
    opacity: 6%;
  }

  .services-top-content {
    max-width: 100%;
    padding: 0 $padding;

    .services-top-subtitle {
      width: 129px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 24px;
      p {
        // font-family: 'SF Pro Text', sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        color: #5468e7;
      }
    }

    .services-top-title {
      font-size: calc(40px / calc(375px / 100vw));
      font-weight: 700;
      line-height: calc(48px / calc(375px / 100vw));
      text-align: left;
      color: #232340;
      margin-bottom: $padding;
    }
    .services-arrows {
      // width: 112px;
      svg {
        border-radius: 50%;
        &:first-child {
          margin-right: 16px;
        }
        &:hover {
          background-color: #5468e7;
        }
      }
    }
  }
  .service-cards {
    padding: 0 $padding;
    margin-top: 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .service-card-single:hover {
      background-color: #5468e7;
      color: #ffffff;
    }
    .service-card-single {
      box-shadow: 0px 20px 50px #ededed;
      height: 190px;
      display: flex;
      align-items: center;
      border-radius: 32px;
      background-color: #ffffff;
      margin-bottom: 24px;
      color: #5468e7;
      .service-card-box {
        display: flex;
        align-items: center;
        margin-left: calc(48px / calc(375px / 100vw));
        img {
          width: calc(92px / calc(375px / 100vw));
        }
        span {
          margin-left: calc(25px / calc(375px / 100vw));
          font-size: calc(18px / calc(375px / 100vw));
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0;
        }
      }
    }
  }
  .services-bottom-content {
    margin-top: 56px;
    padding: 0 $padding;
    width: 75%;
    .services-bottom-headline {
      color: #232340;
      .services-bottom-subtitle {
        width: 129px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        p {
          // font-family: 'SF Pro Text', sans-serif;
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
        }
        p:first-child {
          color: #8b8b8b;
        }
      }
    }
    .services-bottom-title {
      text-align: left;
      font-style: normal;
      font-weight: 700;
      font-size: calc(24px / calc(375px / 100vw));
      line-height: calc(32px / calc(375px / 100vw));
      letter-spacing: -0.2px;
      color: #232340;
      margin-bottom: $padding;
    }
    .services-bottom-number {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        font-size: calc(140px / calc(375px / 100vw));
        font-weight: 600;
        line-height: calc(167px / calc(375px / 100vw));
        letter-spacing: 0px;
        color: #5468e7;
        text-align: left;
      }
      p {
        font-size: calc(18px / calc(375px / 100vw));
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
        color: #000000;
        text-align: left;
      }
    }
  }
  .services-bottom-image {
    margin-top: 36px;
    .services-img {
      width: 100%;
    }
  }

  .services-pagination {
    margin-bottom: 50px;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    input:nth-child(2) {
      margin: 0 20px;
    }
    input {
      width: 6px;
      height: 6px;
      color: linear-gradient(180deg, #3a8fff 0%, #0837ae 100%);
      margin: 0;
      box-shadow: 0px 4px 9px 0px #0000004d;
    }
  }
}
