@import "../abstract/variaveis";

#who-we-are {
  background-color: #232340;
  padding-top: ($padding * 2);
  .who-we-are-top-content {
    max-width: 100%;
    padding: 0 $padding;
    .who-we-are-top-headline {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .who-we-are-top-subtitle {
        width: 129px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
        p {
          // font-family: 'SF Pro Text', sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0px;
        }
        p:first-child {
          color: #adadad;
        }
        p:nth-child(2) {
          color: #ffffff;
        }
      }
    }
    .who-we-are-top-title {
      font-size: calc(40px / calc(375px / 100vw));
      font-weight: 700;
      line-height: calc(48px / calc(375px / 100vw));
      text-align: left;
      color: white;
      margin-bottom: $padding;
      max-width: 100%;
    }
    .who-we-are-arrowDropdown {
      display: flex;
      max-width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    .who-we-are-arrows {
      // width: 112px;
      display: flex;
      justify-content: space-between;
      svg {
        border-radius: 50%;
        &:first-child {
          margin-right: 16px;
        }
        &:hover {
          background-color: #5468e7;
        }
      }
    }
    .who-we-are-dropdown {
      max-width: 100px;
      background: #232340;
      border-radius: 8px;
      border: 0;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0px;
      width: 144px;
      color: white;
    }
  }
  .who-we-are-img {
    margin-top: 56px;
    padding: 0;
    z-index: 1;
    width: 100%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .who-we-are-bottom-content {
    margin-top: 56px;
    max-width: 100%;
    padding: 0 $padding;

    .who-we-are-bottom-headline {
      max-width: 100%;
      margin-bottom: 40px;
      .who-we-are-bottom-title {
        max-width: 100%;
        font-size: calc(24px / calc(375px / 100vw));
        font-weight: 700;
        line-height: calc(32px / calc(375px / 100vw));
        color: #ffffff;
        margin-bottom: 40px;
      }
      .who-we-are-bottom-text {
        line-height: calc(28px / calc(375px / 100vw));
        // font-size: calc(24px / calc(375px / 100vw));
        font-size: calc(16px / calc(375px / 100vw));
        font-weight: 400;
        letter-spacing: 0px;
        color: #8b8b8b;
      }
    }
    .who-we-are-button {
      button {
        height: 56px;
        width: 160px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        background-color: #5468e7;
        color: #ffffff;
        border-radius: 8px;
        border: 0;
        cursor: pointer;
      }
    }
  }
  .who-we-are-number-container {
    display: flex;
    justify-content: center;
    .who-we-are-number {
      width: 256px;
      height: 256px;
      margin: 56.5px 32px 64px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 10px 20px -10px black;
      .who-we-are-oval {
        text-align: center;
        color: #ffffff;
        h1 {
          font-size: 115px; //140 original
          font-weight: 600;
          letter-spacing: 0px;
        }
        p {
          font-size: 14.85px; //18 original
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0px;
        }
      }
    }
  }
}
